<main class="fondo">
    <div class="holder">
        <div class="imagenes">
            <div class="imagen"><img src="/images/galeria/basededatos.jpg" alt="bdd"></div>
            <div class="imagen"><img src="/images/galeria/basededatos2.jpg" alt="bdd2"></div>
            <div class="imagen"><img src="/images/galeria/compu.jpg" alt="compu"></div>
            <div class="imagen"><img src="/images/galeria/diseno-grafico-publicitario.jpg" alt="dg"></div>
            <div class="imagen"><img src="/images/galeria/diseño-digital-1.jpg" alt="dg2"></div>
            <div class="imagen"><img src="/images/galeria/marketing.jpg" alt="mark"></div>
            <div class="imagen"><img src="/images/galeria/marketing2.jpg" alt="mark2"></div>
            <div class="imagen"><img src="/images/galeria/testing.jpg" alt="testing"></div>
        </div>
    </div>
</main>