<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Thompsen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/institutoThompsen.css' />
    <script src="https://kit.fontawesome.com/7e2173e7e5.js" crossorigin="anonymous"></script>

</head>
  <body>
    <header>
        <div class="holder">
            <nav>
                <ul>
                    <li><a href="/novedades" class="{{#if isNovedades}}activo{{/if}}">Novedades</a></li>
                    <li><a href="/nosotros" class="{{#if isNosotros}}activo{{/if}}">Nosotros</a></li>
                    <li><a href="/" class="{{#if isHome}}activo{{/if}}">
                            <div><img src="images/logo.jpg" alt="Logo">
                            </div>
                        </a>
                    </li>
                    <li><a href="/galeria" class="{{#if isGaleria}}activo{{/if}}">Galeria</a></li>
                    <li><a href="/contacto" class="{{#if isContacto}}activo{{/if}}">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
  <main class="fondo"></main>
    
  {{{body}}}
  
    <footer>
        <p>Diseñado por Alvarado Rocío - &copy;2021</p>
    </footer>
  </body>
</html>
